.basic-layout-wrapper {
  height: calc(100vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  .layout-main-container {
    width: 100%;
    height: 400px;
    flex: auto;
    overflow-y: auto;
    overflow-x: hidden;
    background: #EDEFF1;
  }
}

.loading-page-wrapper {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}